form{
    margin: 50px auto 20px auto;
    min-height: 60px;
    width: 912px;
    background: white;  
    text-align: left 16px; 
        
  }
  form TextField
  {
    margin: 20px 40px 20px ;
      
    }