 h2{
  text-align: left;
  margin: 20px auto 20px auto;
  min-height: 20px;
  padding: 32px; 
  background: #8c8c8c;
  width: 840px;
  text-align: right 32px;
  
}

h3{
  margin: 20px auto 20px auto;
  width: 912px;
  
 
}
body{
  background: #C0C0C0  ;
}
